# compiled output
/dist
/tmp
/app/**/*.js
/app/**/*.js.map

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
jsconfig.json
.vscode/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

*.swp
*.iml
/tmp/

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
